@import "~bootstrap/scss/bootstrap";

// GENERICS

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// HEADER

header {
    height: 3rem;
    a {
        text-decoration: none;
    }
    .wrap-image {
        img {
            height: 100%;
        }
    }
}
